* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #128c20;
  height: 250px;
}


:root {
  --main-green: #08441E;
  --earth-brown: #725137;
  --warm-beige: #F9EAD3;
  --dark-text: #212121;
  --white: #fff;
}

body {
  height: 100em;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 83px;
}

.title {
  font-size: 35px;
  text-decoration: none;
  color: rgb(255, 157, 0);
}

.title span {
  color: #1a1a1a;
  font-size: 30px;
  text-decoration: none;

}

nav {
  background-color: rgba(255, 255, 255, 0.726);
  height: 15vh;
}

#nav {
  padding: 5px;
  transform: translateX(-50%);
  z-index: 3;
}

#nav li {
  padding: 10px;
}

#nav li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  position: relative;
  padding-bottom: 5px;
  transition: transform 0.3s ease;
  text-transform: capitalize;
  color: black;
}

#nav li a::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: rgb(255, 153, 0);
  transition: width 0.3s ease;
}

#nav li a:hover {
  transform: scale(1.1);
  color: rgb(255, 153, 0);
}

#nav li a:hover::after {
  width: 100%;
}

.logo {
  text-transform: capitalize;
  margin-left: 10px;
}

.buy {
  position: relative;
  bottom: 20px;
  left: 50px;
  border-radius: 10px;
  display: block;
  margin: auto;
  padding: 10px 20px;
  background-color: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.3s ease;
  border: none;
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  font-weight: 500;
  font-size: 15px;
  background-color: white;
  color: #1a1a1a !important;
  text-decoration: none;
  border: none;
}

.register:hover {
  background-color: rgb(250, 249, 249);
}


.buy::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: orange;
  z-index: -1;
  transition: width 0.3s ease;
}

.buy:hover {
  color: white;
  z-index: 1;
}

.buy:hover::before {
  width: 100%;
}

input[type="number"] {
  margin: auto;
  padding: 10px;
  color: black;
  border: black 1px solid;
  width: 40px;
  position: relative;
  bottom: -20px;
  left: 20px;
  text-align: center;
  height: 30px;
  border-radius: 5px;
  margin-bottom: 20px;
}

table tr td p {
  position: relative;
  right: -10px;
  bottom: -10px;

}

input[type="number"]:focus {
  outline: none;

}

table {
  margin: auto;
  margin-top: 20px;
  border-collapse: separate;
  border-spacing: 50px;
}

table tr td img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  transition: 0.4s ease;
  transform: scale(1);
  overflow: hidden;

}

td:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}


table tr td:hover img {
  transform: scale(1.1);
  overflow: hidden;
}

tr {
  height: 350px;
}

td {
  width: 300px;
  background-color: #eaeaea;
  border-radius: 20px;
  overflow: hidden;
  height: 350px;
}

td span {
  color: #1a1a1a;
  display: flex;
  justify-self: center;
  position: relative;
  top: 110px;
}

.addtocurt {
  position: relative;
  bottom: 12px;
  right: 85px;
}

.new {
  display: flex;
  justify-self: center;
}

.offers {
  display: flex;
  justify-self: center;
}

.go-up {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  padding: 5px;
  background-color: orange;
  position: fixed;
  color: #fff;
  top: 25em;
  right: 40px;
  border: none;
  cursor: pointer;
  display: none;
  z-index: 3;
}

.footer {
  width: 100%;
  background-color: #2c2c2c;
  color: white;
  height: 25em;
  display: flex;
  justify-content: baseline;
  align-items: baseline;
}

.desc {
  width: 30%;
  height: 75%;
  margin-left: 10px;
}

.s1 {
  font-size: 20px;
}

.quick-links {
  display: flex;
  justify-self: center;
  flex-direction: column;
  margin-left: 15em;
}

.quick-links a {
  display: block;
  color: white;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 20px;
  margin-top: 5px;
}

.contact {
  display: flex;
  justify-self: end;
  flex-direction: column;
  margin-left: 18em;
}

.contact p {
  margin-top: 10px;

}

.social {
  display: flex;
  justify-self: center;
}

.card {
  display: flex;
  justify-content: center;
  padding: 20px 20px;
  gap: 15px;
}

.socialContainer {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #2c2c2c;
  display: flex;
  align-items: center;
  justify-content: center;
  float: inline-start;
  overflow: hidden;
  transition: .3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: #fff;
}


.imgfooter {
  width: 30px;
  height: 30px;
  margin-top: 5px;

}

.store1 {
  color: rgb(236, 236, 236);
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.nature1 {
  color: rgb(37, 173, 37);
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.title {
  display: flex;
  justify-content: center;
  align-content: center;
  justify-self: center;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  text-transform: capitalize;
  color: white;
  margin-top: 5%;
}

.title p {
  display: inline;
  margin-top: 25px;

}

.title h1 {
  margin-top: 100px;
}

.cart-icon {
  position: fixed;
  right: 100px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 10px;
  z-index: 2;
}

.cart-icon:hover {
  background-color: #eaeaea;
}

.cart-num {
  border-radius: 50px;
  height: 15px;
  width: 15px;
  font-size: 10px;
  background-color: red;
  position: absolute;
  top: -3px;
  right: 4px;
  display: flex;
  align-content: center;
  justify-content: center;
  padding-top: 3px;
}

.cart-tab {
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  background-color: black;
  width: 400px;
  z-index: 4;
  display: none;
  overflow: scroll;
}

.cart-tab h1 {
  color: white;
  padding: 20px;
  font-weight: 50px;
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-weight: lighter;
  font-style: normal;

}

.cart-tab button {
  display: inline;
  float: left;
}

.cart-tab .order {
  background-color: #e8bc0e;
  height: 50px;
  width: 50%;
  position: fixed;
  bottom: 0px;
  left: 50%;
}

.cart-tab .close {
  height: 50px;
  width: 50%;
  display: inline;
  position: fixed;
  bottom: 0px;
}