*{ margin:0px;padding:0px;box-sizing: border-box;font-family: "Inter", sans-serif;}
.container{
display:flex;
align-self: center;
justify-self: center;
margin-top: 10em;
margin-bottom: 10em;
box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
}
.register-form{
border-radius: 0px 50px 50px 0px;
width:25em;
height: 20em;
}
input{
display: block;
padding:20px;
height: 40px;
width:25em;
border-color: rgba(0, 0, 0, 0.426);
border:  1px solid;
margin:20px;
border-radius: 10px;

}
h2{
margin:20px;
}
.reg{
margin:20px;
padding:10px;
width:150px;
border-radius: 10px;
border: none;
background-color: rgb(233, 136, 0);
color:white;
}

.form2{
background-color: rgb(233, 136, 0);
border-radius: 50px 0px 0px 50px;

}
h3{
margin-top:40px;
margin-left:30px;
margin-right:30px;
}
.log{
margin:40px;
padding:10px;
width:150px;
border-radius: 10px;
border: solid 1px;
border-color:white;
color: white;
background-color:rgb(233, 136, 0) ;
margin-left:100px;
margin-top:30px;
}
.home{
padding:10px;
width:150px;
border-radius: 10px;
border: solid 1px;
border-color:white;
background-color:rgb(255, 128, 0) ;
display: flex;
justify-self: center;
justify-content: center;
position:absolute;
top:40em;
}
a{
text-decoration: none;
color:white;
font-size: 15px;
}
@media (max-width: 768px) {


.container{
display:flex;
align-self: center;
justify-self: center;
margin-top: 8em;
margin-bottom: 8em;
box-shadow: 1px 1px 5px rgba(0,0,0,0.26);
transform: scale(0.85); 
transform-origin: top center;
}

.register-form{
width:22em;
height: 17em;
}

input{
padding:15px;
height: 35px;
width:22em;
margin:15px;
font-size:13px;
}

h2, h3{
margin:15px;
font-size:18px;
}

.reg{
margin:15px;
padding:8px;
width:120px;
font-size:13px;
}


.log{
margin:25px;
padding:8px;
width:120px;
margin-left:70px;
font-size:13px;
}

.home{
top:30em;
padding:8px;
width:120px;
}

a{
font-size:13px;
}
}

